<%= form_for(@book, :html => { :multipart => true }) do |f| %>
  <% if @book.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@book.errors.count, "error") %> prohibited this book from being saved:</h2>

      <ul>
      <% @book.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title", class: "span5" %>
  </div>
  <div class="field">
    <%= f.text_field :author, placeholder: "Author", class: "span3" %>
  </div>
  <div class="field">
    <%= f.text_field :ISBN, placeholder: "ISBN", class: "span2", maxlength: "13" %>
  </div>
  <div class="field">
    <%= f.number_field :year, placeholder: "Year", class: "span1", max: Time.now.year, min: "0" %>
  </div>
  <div class="field">
    <%= f.text_field :publisher, placeholder: "Publisher" %>
  </div>
  <div class="field">
    <%= f.label :picture %>
    <%= f.file_field :picture %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
