<div class="books">
  <div class="book">
    <%= image_tag(@book.picture, width: "250", alt: @book.title) %>
  </div>
</div>

<div class="book_info">
  
  <h1><%= @book.title %></h1>

  <h4>
    <span>by </span>
    <%= @book.author %>
    <span> (<%= @book.year %>)</span>
  </h4>

  <br>
  <p>
    <span>ISBN: </span>
    <%= @book.ISBN %>
  </p>

  <p>
    <span>Published by: </span>
    <%= @book.publisher %>
  </p>
</div>

<div>
  <%= link_to('Edit', edit_book_path(@book)) + " | " if user_signed_in? && @book.user == current_user %>
  <%= link_to 'Back', books_path %>
</div>