<!DOCTYPE html>
<html>
<head>
  <title>Biblio</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a class="brand" href="/">Biblio</a>
        <ul class="nav">
          <% if user_signed_in? %>
            <li><a href="/books/new"><i class="icon-plus-sign"></i> Add a book</a></li>
            <li><%= link_to "<i class='icon-user'></i> ".html_safe + current_user.first_name, edit_user_registration_path %></li>
            <li><%= link_to "<i class='icon-chevron-right'></i> Log out".html_safe, destroy_user_session_path, :method => :delete %></li>
            <!-- <li><a href="/users/sign_out" method="delete"><i class="icon-chevron-right"></i> Log out</a></li> -->
          <% else %>
            <li><a href="/users/sign_in"><i class="icon-home"></i> Log in</a></li>
            <li><a href="/users/sign_up"><i class="icon-chevron-up"></i> Sign up</a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="book_information"></div> -->

  <div class="container">
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>
    <%= yield %>
  </div>

</body>


</html>
